// Footer
// loaded from site.css.scss

$footer-link-count: 7;
footer.main {
    font-size: em(12px);

    opacity: 0.8;

    a {
        color: desaturate($orange, 100%);
    }

    .container {
        margin-top: 2em;
        & > div {
            padding: $col-padding;
        }
    }

    li {
        display: inline;
        a {
            display: inline-block;
            padding-right: $col-padding;
            padding-bottom: $col-padding / 1.5;
        }
    }

}


