// Footer
// loaded from site.css.scss

$footer-link-count: 7;
footer.main {
  margin: 2em;
  margin-bottom: 0;
  @include clearfix;
  //border: 3px solid $text-mid;
  border-bottom: none;
  background: $bg-grey;
  padding: 1.5em;
  padding-bottom: 0;
  font-size: em(14px);

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  nav {
    float: right;
    width: 70%;
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline;
      }

      a {
        margin-right: 1em;
        margin-bottom: 1em;
        display: inline-block;
        padding: em(7px) em(9px);

        background: $bg-grey;
        color: inherit;

        &:hover {
          background: $white;
        }
      }
    }
  }

  p {
    margin: 0;
  }

  .legal, .copyright {
    @include box-sizing(border-box);
    width: 30%;
    float: left;
    clear: left;
    margin-bottom: 1em;
    padding-right: 1em;
  }
}


