// Header
// loaded from site.css.scss

header.main {

   z-index: $layer-header;

  .shadow-hack {
      @include layer($layer-header);
      @include position(absolute, 0px 0px 0 0px);
      height: $global-header-height;
      background: $white;
      box-shadow: $header-box-shadow;
  }

  & > .container {
      @include layer($layer-header + 1);
      top: 0;
      line-height: em($global-header-height);
      height: $global-header-height;
      color: $burnt-umber;
      height: em($global-header-height);
      padding: 0 1em;
  }


  h1#title {
    float: left;
    margin: 0;
    max-height: $global-header-height;
    font-size: 1em;
    line-height: $global-header-height;

    a {
      display: block;
      text-decoration: none
    }

    img { 
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;
      margin-left: -2px;
      margin-right: 2px;
      max-height: 100%;

      max-width: 100%;

    }

    span {
      display: inline-block;
      vertical-align: middle;
      @include image-replacement;
      background-image: url("../images/logo-20h.png");
      background-repeat: no-repeat;

      width: 172px;
      height: 20px;
    }
  }

  /* global search box */
  .search {
    // TODO
    background: red;
  }

  .login-menu {
    float: right;
    position: relative;
    z-index: -1;

    /* simple menu display for JS-free users */
    .no-js &:hover {
      form {
        display: block;
      }
    }
    .forgot-password {
      float: right;
    }

    h1 {
      display: inline-block;
      line-height: 1.5;
      cursor: pointer;

      /* text style */
      @include tagline;
      font-size: em(12px);
      text-transform: uppercase;

      /* positioning for the dropdown arrow */
      margin: 0 1em 0 0;
      position: relative;
      padding-right: 1.4em;

      /* drop-down triangle in CSS */
      &:after {
        content: "";
        @include triangle(em(10px, 12px), $burnt-umber, down);
        @include position(absolute, em(6px, 12px) 0px 0 0);
      }
    }

    form {
      display: none;

      line-height: normal;
      @include position(absolute, 100% em(12px) 0 0);
      background: $white;
      box-shadow: 0px 2px 4px black(0.4);
      @include border-bottom-radius(5px);
      overflow: hidden;
    }
  }
}
