/*
    Layout.scss
    Page framework definitions
*/

@import "globals";

$iphone-width: 480px;
$mobile-width: 768px;

$iphone  : new-breakpoint(max-width $iphone-width);
$mobile  : $iphone;
// $mobile  : new-breakpoint(max-width $mobile-width);
$desktop : new-breakpoint($iphone-width);
$widescreen : new-breakpoint(1000px);

// visual grid for devel
$DEVEL: true;

/* Responsive */
@mixin only-visible-at($breakpoint, $display-mode: block) {
    display: none;
    @include media($breakpoint) {
        display: $display-mode;
    }
}

@mixin mobile-only($display-mode: block) {
    @inlcude only-visible-at($mobile, $display-mode);
}

@mixin desktop-only($display-mode: block) {
    @include only-visible-at($desktop, $display-mode);
}

@mixin widescreen-only($display-mode: block) {
    @include only-visible-at($widescreen, $display-mode);
}

/* sticky footer */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: table;
  width: 100%;
}

header.main, .page, .footer.main {
  display: table-row;
  height: 1px;
  & > .container {
    display: table-cell;
    position: relative;
  }
}

.page {
  height: 100%;

  & > .container {
      min-height: 100%;
  }
}


/* page columns */
$data-col-size: 200px; // 200px intended
$right-aux-col-size: 290px;
$col-padding: 10px;

.page > .container, footer.main > .container, header.main > .container {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    @include media($desktop) {
        padding-left: $col-padding;
        //padding-left: 10px;
        // @include row(table)
    }
}

.left-data-col, .center-col, .right-aux-col {
    @include box-sizing(border-box);
    @include clearfix;

    padding: $col-padding $col-padding 0 $col-padding;
    vertical-align: top;
    position: relative;
}

.left-data-col {
    @include media($desktop) {
        display: table-cell;
        width: $data-col-size;
        padding-left: 0;
        padding-right: 0;
    }
}

.center-col {
    @include media($desktop) {
        display: table-cell;
    }
}

.right-aux-col {
    width: $right-aux-col-size;
    @include widescreen-only(table-cell);
    padding-left: 0;
    padding-right: 0;
}

/* shrink everything for small phones */
body {
    @include media($iphone) {
        font-size: em(14px);
    }
}

/* column styling */

.center-col {
}

.left-data-col {
}

.right-aux-col {
    // @TODO move module definition elsewhere
    .module {
        @include module;
        @include box-sizing(border-box);
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: $right-aux-col-size;

        border-radius: 0;
        padding: $col-padding;
        border-left: 1px solid #ddd;
    }
}

/* hide carousel on mobile: defer to card for visual content */
.center-col .carousel {
    @include media($mobile) {
        display: none;
    }
}
