/*
    Layout.scss
    Page framework definitions
*/

@import "globals";

$mobile-width: 768px;

$mobile  : new-breakpoint(max-width $mobile-width);
$desktop : new-breakpoint($mobile-width);
$widescreen : new-breakpoint(1400px);

// visual grid for devel
$visual-grid: true;

$DEVEL: true;

/* Responsive */
@mixin only-visible-at($breakpoint, $display-mode: block) {
    display: none;
    @include media($breakpoint) {
        display: $display-mode;
    }
}

@mixin mobile-only($display-mode: block) {
    @inlcude only-visible-at($mobile, $display-mode);
}

@mixin desktop-only($display-mode: block) {
    @include only-visible-at($desktop, $display-mode);
}

@mixin widescreen-only($display-mode: block) {
    @include only-visible-at($widescreen, $display-mode);
}

/* font sizing */
@mixin scale-with-baseline($scale, $baseline: 1.5, $mb-ratio: 1) {
    @if unit($scale) == "" {
        $scale: $scale * 1em;
    }

    $s: $scale;
    $lh: $baseline / $scale * 1em;
    $mb: $lh * $mb-ratio * 1em;

    @if $lh < 1 {
        $lh: $lh * 2;
    }

    font-size: $s;
    line-height: $lh;
    margin-bottom: $mb;
}

@mixin baseline($font-size, $line-height: 1.5) {
    // scale based on document EMs (usually 16px, see _globals.scss)
    $fs: em($font-size);

    $header-sizes: (
        3,
        2.25,
        1.5,
        1.3125,
        1.125,
        1
    );

    /* baseline headings */
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: bold;
    }
    @for $i from 1 through 6 {
        h#{$i} {
            @include scale-with-baseline(
                nth($header-sizes, $i), 
                $line-height);
        }
    }

    /* text elements */
    p, blockquote {
        margin: 0;
        @include scale-with-baseline(1, 1.5);
        @include prefixer(hyphes, auto, webkit moz ms spec);
    }

    /* lists */
    dl, ol, ul {
        font-size: $fs;
        margin: 0 0 ($line-height * 1em);
        padding: 0;
    }
    dd, dt, li {
        line-height: $line-height * 1em;
        margin: 0;
    }
}



body {
    @include baseline($em, 1.5);
    @include media($mobile) {
        font-size: em(14px);
    }
}


/* page columns */
$data-col-size: em(320px);
$col-padding: 1em;

.page > .container {
    @include media($desktop) {
        padding-left: $data-col-size + $col-padding;
    }

    @include media($widescreen) {
        padding-right: $data-col-size + $col-padding;
    }
}

.left-data-col, .center-col, .right-aux-col {
    background: $bg-grey;
    @include box-sizing(border-box);
    @include clearfix;
    padding: $col-padding $col-padding 0 $col-padding;
}

.left-data-col {
    @include media($desktop) {
        width: $data-col-size;
        float: left;
        margin-left: -1 * ($data-col-size + $col-padding);
    }
}

.center-col {
    @include media($desktop) {
        @include span-columns(12);
        @include omega;
    }
}

.right-aux-col {
    float: right;
    width: $data-col-size;
    margin-right: -1 * ($data-col-size + $col-padding);
    @include widescreen-only;
}

/* carousel */
.carousel {
    width: 100%;
    height: em(300px);
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;

    background: black(0.9);

    img {
        width: 100%;
    }

    caption {
        @include position(absolute, 0 0px 0px 0px);
        padding: 1em;
    }
}


/* tabs
    %nav.tabs
      ul
        li
          a(.active)
*/
.tabbed {
    background: $bg-light;
    border: 1px solid $text-mid;

    & > section {
        padding: 0 1em;
    }
}

nav.tabs {
    @include clearfix;

    background: $bg-light;
    border-bottom: 1px solid $text-mid;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline;
    }

    a {
        display: block;
        float: left;
        padding: 0.5em 1em;

        border-right: 1px solid $text-mid;
    }
}

/* card */
$card_height: 645px;
$card_width: 456px;

$card_scale: 1;
// em-based card units
// for text, spacing, squares
@function c($pixels, $ctx: $em) {
    @return em($pixels * $card_scale, $ctx);
}

/* measurements taken from the PSD at full size */
@mixin card($card_scale: 1) {

    $w: c($card_width);
    $h: c($card_height);

    @include box-sizing(border-box);
    position: relative;
    width: $w;
    height: $h;

    border: c(22px)  solid #fff;
    border-radius: c(14px);
    box-shadow: 0px 2px 1em black(0.3);

    overflow: hidden;

    margin-bottom: $col-padding;

    & > img {
        width: 100%;
    }

    figcaption {
        @include position(absolute, 0 0px 0px 0px);
        height: c(134px);

        background: $bg-light;
        background: rgba(#fff, 0.85);
    }

    h1 {
        margin-top: 1em;
        font-size: c(23px);
    }

    .team {
        float: left;
        margin-left: c(5px);
        margin-top: c(25px);
        margin-right: c(16px);

        width: c(96px);
    }

    .number {
        float: right;
        position: relative;

        width: c(60px);
        height: c(60px);

        margin: c(6px) c(4px) 0 0;

        line-height: c(60px);
        text-align: center;

        .bg {
            @include position(absolute, 0px 0 0 0px);
            width: 100%;
            height: 100%;
        }

        /* text in front of badge */
        span {
            display: inline-block;
            position: relative;
            z-index: 1;
            color: #fff;
            font-size: c(18px);
            line-height: 1;
            vertical-align: middle;
        }
    }

    .stats {
        @include position(absolute, 0 0px 0px 0);
        width: c(305px);
        height: c(63px);

        border-top: 1px solid #bcbcbc;
        color: $black;

        overflow: hidden;

        em {
            color: $orange-mobile;
            font-style: normal;
            display: block;
        }

        div {
            @include box-sizing(border-box);
            float: left;
            width: (100% / 4);
            border-right: 1px solid #bcbcbc;
            text-align: center;
            padding: c(12px, c(16px)) 0;
            font-size: c(16px);

            &:last-child {
                border-right: none;
            }
        }

        .sport img { width: 2em }
    }
}

.card {
    @include card(1);
}

$card_scale: 0.8;
@function c($pixels, $ctx: $em) {
    @return em($pixels * $card_scale, $ctx);
}
.card-small {
    @include card(0.8);
}

$card_scale: ($data-col-size - 2 * $col-padding) / em($card_width);
@debug $card_scale;
@function c($pixels, $ctx: $em) {
    @return em($pixels * $card_scale, $ctx);
}
.card-smallest {
    @include card($card_scale);
}
