// Front-page styling
// Jake Teton-Landis
// <just.1.jake@gmail.com>
// Febuary 2013
@import "globals";
@import "forms";
@import "layout";
@import "widgets";

/* Static imports */
@import "_vendor/normalize.css";

// Disabled for offline development
@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic);
@import "fonts/quicksand/stylesheet.css";

/* basic global styles */
body {
  color: $text-dark;
  font-family: $font-family;
  font-weight: 300;
  background: $footer-color;

  // basic baseline stuff
  @include baseline($em, 1.5);
}

a {
  font-weight: 400;
  color: $orange-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $orange-border;
  }
}


// styling implementations
@import "partials/header";
@import "partials/footer";
