@import "card"; // for height sizing
/* carousel */

.carousel {
    height: em(500px);
    overflow: hidden;
    position: relative;
    @include clearfix;

    background: black(0.9);

    white-space: nowrap;
    padding-left: 1px;

    h1 {
        @include position(absolute, 0px 0 0 0px);
        display: inline-block;
        max-width: 100%;
        padding: em(0.5em, 3em)  em(1em, 3em);

        color: $white;
        background: $black;
    }

    /* contains the images and prevents them from wrapping */
    .images {
        @include position(absolute, 0px 0 0px 0px);
        width: 9001px;
    }


    img {
        margin-right: 1px;
        height: 100%;
        float: left;
    }

    caption {
        @include position(absolute, 0 0px 0px 0px);
        padding: 1em;
    }
}

