%header.main
  .container
    %h1#title
      %a(href="/" title="PlayerPro - Home")
        %img(src="images/navbar-app-icon.png" alt="App Icon")
        %span PlayerPro

    %section.login-menu
      %h1 Log In/Sign Up

      - # Log in form
      %form.menu(action="/sign-in")
        %a.facebook-button
          %img(src="/images/facebook-button-icon.png" alt="Facebook")
          %span
            log in with
            %strong Facebook

        .divider
          or

        %input(placeholder="Email" type="text" name="email" id="sign-in-email")
        %input(placeholder="Password" type="password" name="password" id="sign-in-passowrd")
        %input.btn(type="submit" value="Log In")

        %footer
          %a.sign-up(href="/sign-up")
            Sign Up
          %a.forgot-password(href="/forgot-password")
            forgot password?
    

.page
  %aside.app-preview
    .container
      #player-card.front-side
        .front
          %img(src="images/front-page-card.png" alt="player card")
          - #TODO
        .back
          %form.menu(action="/user/new")
            %a.facebook-button
              %img(src="/images/facebook-button-icon.png" alt="Facebook")
              %span
                sign up with
                %strong Facebook

            .divider
              or

            %label(for="sign-up-email") Email
            %input(placeholder="What's your email?" type="text" name="email" id="sign-up-email")
            %input(placeholder="again, just to be safe" type="text" name="email-verify" id="sign-up-email-verify")


            %label(for="sign-up-password") Password
            %input(placeholder="8 charaters or more" type="password" name="password" id="sign-up-passowrd")
            %input(placeholder="again, just to be safe" type="password" name="password" id="sign-up-passowrd")

            %input.btn(type="submit" value="Sign Up")

  %section.main.about-the-app
    .container
      %h1
        %div PlayerPro
      %h2 Manage your sports life.
      :markdown
        PlayerPro is the social network for you, your teammates and your leagues.
        It's the easiest way for you and your teammates to show the world how good
        you are online, follow  and make all of your lives better in the real world.
        And it's free.

        People are using PlayerPro to:

        - manage their teams rosters and schedules
        - track game stats
        - automatically update team websites
        - get news about the players and teams they love

      %p
        %a.btn.show-signup-form(href="#get")
          Get PlayerPro

      .features
        .feature
          %img(alt="Player" src="#{lorem.image '140x140'}")
          %h3 Be a Player.
          %p
            Create your own trading card, start tracking your own sports timeline.

        .feature
          %img(alt="Player" src="#{lorem.image '140x140'}")
          %h3 Be a Team.
          %p
            Build a team and engage your fan-base with the world's most advanced team tools.

        .feature
          %img(alt="Player" src="#{lorem.image '140x140'}")
          %h3 Be a Fan.
          %p
            Track your favorite teams and connect with your favorite sports stars.

